@model WebApplication3.Models.RegisterViewModel

@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>AddUser</h2>
<div class="container">
    @using (Html.BeginForm("AddUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="md-form mb-5">
            <i class="fas fa-user prefix grey-text"></i>
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control validate" })
            @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
        </div>
        <div class="md-form mb-5">
            <i class="fas fa-user prefix grey-text"></i>

            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control validate" })

            @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
        </div>

        <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text  "></i>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control validate" })
            @Html.LabelFor(m => m.Email, new { @class = " control-label" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            <label class="text-danger" id="validationAlert1" style="display:none">Account already exist</label>

        </div>
        <div class="md-form mb-5">
            <i class="fas fa-lock prefix grey-text"></i>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control validate" })
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <div class="md-form mb-5">
            <i class="fas fa-lock prefix grey-text"></i>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control validate" })
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        <div class="md-form mb-5">
            <i class="fas fa-image"></i>
            <input type="file" name="UserPhoto" class="form-control validate" required />
            @Html.LabelFor(m => m.Photo, new { @class = "control-label" })
            @Html.ValidationMessageFor(m => m.Photo, "", new { @class = "text-danger" })
        </div>
        <div class="md-form mb-5">
            <i class="fas fa-user-tie"></i>
            @Html.DropDownList("UserType", (SelectList)new SelectList(new[] { "Traveller", "TripsAgencey" }), null, new { @class = "form-control validate" })
            @Html.LabelFor(m => m.UserType, new { @class = " control-label" })
            @Html.ValidationMessageFor(m => m.UserType, "", new { @class = "text-danger" })
        </div>

        <div class="md-form mb-4">

            <i class="fas fa-phone-alt"></i>
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control validate" })
            @Html.LabelFor(m => m.PhoneNumber, new { @class = " control-label" })
            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })

        </div>

        <div class="modal-footer d-flex justify-content-center">

            <input type="submit" class="btn btn-primary" value="Register" />
        </div>
    }
</div>
