
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Traveller_Layout.cshtml";
}

@using WebApplication3.Models;
@model List<Post>

<div class="container" style="margin-top:50px;">
  
    <div class="row">
        @foreach (var item in Model)
        {
            <!-- Trip Posts Cards-->
            <div class="card col-sm-6">
                <img src="~/upload/Post_images/@item.TripImage" class="card-img-top" alt="..." width="350" height="250">
                <div class="card-body">
                    <h5 class="card-title">Agency Name : @item.User.FirstName @item.User.LastName </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Trip Title : @item.TripTitle</li>
                    <li class="list-group-item">
                        <p class="card-text">Trip Details : @item.TripDetails</p>
                    </li>
                    <li class="list-group-item">Post Date : @item.PostDate</li>
                    <li class="list-group-item">Trip Date : @item.TripDate</li>
                    <li class="list-group-item">Trip Distination : @item.TripDestenation</li>
                </ul>
                <div class="card-body">
                    <i class="far fa-thumbs-up"></i>
                    <a href="@Url.Action("AddLikedPosts", "Traveler", new { id = item.Id })" class="card-link">Like : @item.RankLike</a>
                    <i class="far fa-thumbs-down posticons"></i>
                    <a href="@Url.Action("AddDislikedPosts", "Traveler", new { id = item.Id })" class="card-link">Dislike : @item.RankDislike</a>
                    <i class="fas fa-bookmark posticons"></i>
                    <a href="@Url.Action("AddToSavePosts", "Traveler", new { id = item.Id })" class="btn-sm btn-danger">Save Post</a>
                    <form action="/Traveler/SendComment" method="post">
                        <div class="form-group">

                            <input type="hidden" name="id" value="@item.Id " />
                            <i class="fas fa-comments"></i>
                            <label for="exampleFormControlTextarea1">Ask Question?</label>
                            <textarea class="form-control" name="comment" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <dv class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary ask">Ask</button>
                            </div>
                            <div class="col-6">
                                <a href="/Traveler/replies/@item.Id" class="card-link">your Quetions</a>
                            </div>
                        </dv>
                        
                   
                    </form>
                    
                </div>
            </div>
        }
        </div>
    

</div>
