
@model IEnumerable<WebApplication3.Models.Post>

@{
    ViewBag.Title = "AgencyHistory";
    Layout = "~/Views/Shared/Agency_Layout.cshtml";
}

<div class="content">

    <!-- start Posts table -->

    <div class="container">
        <div class="row postsTable">
            <div class="col">
                <h2 class="text-center">My Posts</h2>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.TripImage)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.TripTitle)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TripDestenation)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TripDetails)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TripDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PostDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Approved)
                                </th>

                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    <img src="~/upload/Post_images/@item.TripImage" style="width:70px;height:70px;margin-top:-8px" />

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TripTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TripDestenation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TripDetails)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TripDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PostDate)
                                </td>
                                <th>
                                    @if (item.Approved == true)
                                    {
                                        <label>Yes</label>
                                    }
                                    else
                                    {
                                        <label>No</label>
                                    }

                                </th>

                                <td>
                                    <!-- start buttons -->

                                    <a href="/TripAgency/EditPost/@item.Id" class="btn btn-info" style="text-decoration:none ;color:white">Edit Post</a>

                                    <a href="/TripAgency/DeletePost/@item.Id" class="btn  btn-warning">Delete Post</a>


                                </td>
                            </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- end Posts table -->


</div>
